port: 000

title: Nota Hutang
description: Aplikasi pencatat dan penagihan hutang berbasis web.
baseurl: "catathutang" # kosongkan kalau di domain utama
url: "https://rz-home.web.id" # ganti dengan URL Pages kamu

sass:
  sass_dir: assets/sass
  style: compressed

plugins:
  - jekyll-seo-tag

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
